%==================================================%
%                                                  %
%            		Routing 		   %
%                                                  %
%               Parameter.config                   %
%                                                  %
% (c)2000. Enginest. All rights reserved.          %
%==================================================%

%IdConfigBool :: {""},	% ??????
%IdConfigFloat :: {""},
%IdConfigInt :: {""},
%IdConfigTime :: {""},
%IdConfigDateTime :: {""},



IdConfigBool = \{
	"ruleTerminateAtSolution",

	"ruleDailyTour",
	"ruleRouteTimeInterruptible",
	"ruleTimeWindow",
	"ruleRejectOrderDirectly",
	"ruleMoveOrderDirectly"
\},


IdConfigFloat = \{
\},

IdConfigInt = \{
	"maxBackup",
	"maxIteration",
	"maxTimeInteraction",
	"maxBacktrack",
	"maxBacktrackDefect",
	"maxBacktrackIteration",
	"maxTime",
	"maxTimeIteration",

	"nbOrderRelaxation",

	"pathSpeed",
	"simulationTimer",
	"simulationPrecision",

	"maxVehicle",
	"maxTour",
	"maxTourVehicle",
	"maxOrderTour",
	"distanceMeterPrecision",
	"timeSecondPrecision"
\},


IdConfigStr = \{
	"identity",
	"dateTimeFormat",

	"objectiveProfit",
	"objectiveCost",
	"objectiveVehicle",
	"objectiveTour",
	"objectiveMileage",
	"objectiveWorktime",
	"objectiveMakespan"
\},

IdConfigTime = \{
	"maxMakespanDay", "maxWorktimeDay",
	"t1Day", "t2Day"
\},

IdConfigDateTime = \{
	"t1","t2"
\},


IdConfigObj = \{
	"objectiveWorktime",
	"objectiveTour",
	"objectiveVehicle",
	"objectiveProfit",
	"objectiveMileage",
	"objectiveMakespan",
	"objectiveCost"
\},





unitTime 	:: defaultTime,
stepTime 	:: defaultTime,
stepDistance 	:: 1,
stepCost 	:: 1.0,


unitTime 	= 1,

stepTime 	= 1,
stepDistance 	= 1,
stepCost 	= 1.0,







msSecond		= 1000,
maxTimeHttpSolver 	= (24*60*60) * msSecond,


% Booleans
true,
! false,



% STATE
STATE_ROOT 			= "99",

STATE_SUB			= "00",

STATE_SUCCESSOR			= "01",
STATE_EXCLUSIVE			= "02",
STATE_COUPLED			= "03",
STATE_COUPLED_T1		= "04",
STATE_COUPLED_T2		= "05",
STATE_COUPLED_SHIFT_TYPE	= "06",
STATE_COUPLED_SHIFT		= "07",
STATE_COUPLED_RESOURCE_TYPE	= "08",
STATE_COUPLED_RESOURCE_GROUP	= "09",
STATE_COUPLED_RESOURCE		= "10",
STATE_COUPLED_SITE_TYPE		= "11",
STATE_COUPLED_SITE		= "12",
STATE_SWITCH_PREDECESSOR	= "13",
STATE_RESOURCE_TYPE_NEXT	= "14",
STATE_RESOURCE_NEXT		= "15",



STATE_RESOURCE_COUPLED		= "00",



PROCESS_ROOT		= "0",
PROCESS_COMPONENT	= "1",
PROCESS_JOB		= "2",
PROCESS_LEAF		= "3",



CONTRACT_INDETERMINATE	= "0",
CONTRACT_DETERMINATE	= "1",

GROUPRESOURCE_INTERNAL	= "0",

RESOURCE_COUPLED	= "0",
RESOURCE_PARENT		= "1",
RESOURCE_SUB		= "2",

SHEET_PAYSLIP		= "0",
SHEET_TECHNIQUE		= "1",
SHEET_PROJECT		= "2",

CALENDAR_HOLIDAY	= "0",
CALENDAR_WORKDAY	= "1",

ACTIVITY_WEEK		= "1",
ACTIVITY_MONTH		= "2",
ACTIVITY_YEAR		= "3",


SWITCH_NULL		= "0",
SWITCH_XOR		= "1",
SWITCH_OR		= "2",


DAYS_ALERT_1		= 1,
DAYS_ALERT_2		= 7,
DAYS_ALERT_3		= 14,

MIN_DAY_ALERT 		= 4,
MAX_DAY_ALERT 		= 31,

DAY1_WORK 		= 1,
DAY2_WORK 		= 5,



%EVENT_BREAK_START	= "B1",
%EVENT_BREAK_END 	= "B2",
%EVENT_DAY_START	= "D1",
%EVENT_DAY_END 		= "D2",
%EVENT_SYNTHESIS	= "DS",
%IdEventDayBreak = (
%	"('" EVENT_BREAK_START "','" EVENT_BREAK_END "','" EVENT_DAY_START "','" EVENT_DAY_END "','" EVENT_SYNTHESIS "')"
%),




maxTable 		= 100,
maxFieldTable 		= 50,

databaseType = "ORACLE" => (
	maxConcatSet = 1000,
	;	
	maxConcatSet = 9000,
),




sheetFieldNumbering	= 1,
sheetFieldLines		= 3,




ExcelSheetNumberPrefix	= "SHEET_NUMBER",
ExcelSheetNamePrefix	= "SHEET_NAME",
ExcelFunctionPrefix	= "FUNCTION",

ExcelImportLineMaximum	= 20000,

ExcelTable = {
	"SITE=Adresse",
	"RESOURCE=V hicule"
},


%ExcelFielKey		= "key",

ExcelDataFormatName	= "ExcelFormat",
ExcelImporDataName 	= "ImportData",
ExcelExportDataName 	= "ExportData",


downloadDataName 	= "SocialData.csv",





dateFormatSql		= "YYYY-MM-DD",
dateFormatInterface	= "DD/MM/YYYY",

%dateFormatInterface	= "MM/DD/YYYY",
%dateFormatInterface	= "YYYY-MM-DD",

defaultDate		= '2000-01-01',


? dateTimeFormat (
"yyyy-mm-dd":
	defaultDateTime	= '2000-01-01',
	;

"yyyy-mm-dd hh":
	defaultDateTime	= '2000-01-01 00',
	;

"yyyy-mm-dd hh:mm":
	defaultDateTime	= '2000-01-01 00:00',
	;

"yyyy-mm-dd hh:mm:ss":
	defaultDateTime	= '2000-01-01 00:00:00',
),



DefaultDate = \{ defaultDate \},
DefaultDateTime = \{ defaultDateTime \},



structuredResource,

maxInputView			= 40,

maxResourceRelaxResource	= 0,
maxTaskRelaxResource		= 1,

thresholRate			= 50,

