%==================================================%
%                                                  %
%               Boot.config                        %
%                                                  %
% (c)2000. Enginest. All rights reserved.          %
%==================================================%




% Database

databaseType		= "ACCESS",
databaseName 		= "Logistics",
databaseOwner		= "",
databaseUser		= "",
databasePassword	= "",


% Server configuration
defaultIP		= "127.0.0.1",
defaultPort		= "92",

serverDirectory		= "D:/POEM/Logistics/",


typeExecute = "NCL",
%typeExecute = "SQLVIEW",

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

PoemClientDirectory	= "D:/POEM/PoemClient/",


serverViewRoot		= "View/",

poemDataDirectory	= "PoemData/",
poemPrintDirectory	= "PoemPrint/",



uploadDirectory		= "Upload/Server/",
downloadDirectory	= "Download/Server/",


clientConfigProgram 	= "Program=Model/Common/Interface/ClientGetConfig.n&CONFIG=ncl.cfg&DIRECTORY=./&TraceLevel=1&REPLY=1&SPACE=%20",





% Server geberate print path

serverPrintPath		= (serverDirectory poemPrintDirectory),



% Client application configuration


%mapDataPath		= (clientDirectory "Map/IgnRoute500_2018"),
mapPath			= "Map/IgnRoute500_2018",


poemDataConfig		= "Logistics.cfg",

poemPrintDevice		= "Microsoft Print to PDF",
poemPrintBrowser	= "C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe",




% PoemClient configuration

poemClientExe		= "PoemClient.exe",
poemDataExe		= "PoemData.exe",
poemPrintExe		= "PoemPrint.exe",


poemTraceLevel		= 1,







% PoemServer trace level

scriptSolverType	= "PoemServer",
%scriptSolverType	= "ComPoem",




% Prefix for database table name
DB_PREFIX		= "",
DB_BACKUP		= "BACKUP",






% STATE
STATE_READ		= "0",
STATE_WRITE		= "1",
STATE_ADMIN		= "2",

STATE_FALSE		= "0",
STATE_TRUE		= "1",

STATE_DELETED		= "0",
STATE_GENERATED		= "1",
STATE_CONFIRMED		= "2",
STATE_ARCHIVED		= "9",

STATE_INACTIVE		= "1",
STATE_ACTIVE		= "2",

STATE_CANDIDATE		= "1",
STATE_PLANNED		= "2",




SIGN_YES		= "oui",
SIGN_NO			= " ",





% Message macros
TAG_ROUTER_UNDEFINED			= "Router Club Not Defined",


% Console Login?
%consoleLogin,
%TAG_CONSOLE_LOGIN			= "Console Login",


TAG_USER_SERVER_IS			= "User Server : ",

TAG_USER_ID_IS				= "User ID: ",
TAG_USER_CLUB_IS			= "User Club: ",

TAG_USER_VIEW_DIRECTORY_IS		= "User View Directory: ",
TAG_UPLOAD_DIRECTORY_IS 		= "Upload Directory: ",
TAG_DOWNLOAD_DIRECTORY_IS 		= "Download Directory: ",
TAG_GET_CLIENT_CONFIG_PROGRAM_IS 	= "Get Client Config Program: ",
TAG_LOGIN_PERMISSION_IS			= "Login Permission: ",
TAG_RELATED_CLUB_DOM_IS			= "Related Club Domain: ",


TAG_TASK_ACCOMPLISHED			= "Tâche accomplie",





% Login macros
TAG_LOGIN		= "Connexion",
TAG_LOGOUT		= "Déconnexion",
TAG_PERMISSION		= "Droit accès",






% Error macros
TAG_DATABASE_ERROR			= "Erreur base de données",
TAG_SQL_ERROR				= "Erreur SQL",
TAG_PASSWORD_ERROR			= "Erreur mot de passe",
TAG_CLIENT_IP_ERROR			= "Erreur IP client",

TAG_CONFIGURATION_ERROR			= "Erreur configuration",

TAG_INVALID_USER_IS			= "Utilisateur invalable : ",
TAG_INVALID_CLUB_IS			= "Division invalable : ",
TAG_INVALID_PORT_IS 			= "Port invalable : ",
TAG_UNAUTHORIZED_PERMISSION_IS		= "Droit d'accès non autorisé : ",
TAG_LOGIN_DENIED_FOR_USER_OF_CLUB_IS	= "Login refusé à utilisateur de Club ",
TAG_LOGIN_DENIED_BY_EXCLUSIVE_USER_IS	= "Login refusé par utilisateur exclusif sur serveur : ",





% Comments for log
TAG_ALERT_WRITE_LOGIN_JAM		= "Alerte: bouchon login manager",
TAG_ALERT_LOGIN_CANCELED		= "Alerte: login annulé par re-login",
TAG_ALERT_DUPLICATE_LOGIN		= "Alerte: login dupliqué",

TAG_PASSWORD_MODIFIED			= "Mot de passe modifié. Déconnectez-vous pour éviter dysfonctionnement.",




? databaseType (
"ACCESS" :
	SQL_CASEWHEN = "IIF(", 
	SQL_THEN = ",", 
	SQL_ELSE = ",", 
	SQL_CASEEND = ")",
	;

"SQLSERVER" :
	SQL_CASEWHEN = "(CASE WHEN ", 
	SQL_THEN = " THEN ", 
	SQL_ELSE = " ELSE ", 
	SQL_CASEEND = " END)",
	;

"ORACLE" :
	SQL_CASEWHEN = "(CASE WHEN ", 
	SQL_THEN = " THEN ", 
	SQL_ELSE = " ELSE ", 
	SQL_CASEEND = " END)", 
	;

"MYSQL" :
	SQL_CASEWHEN = "(CASE WHEN ", 
	SQL_THEN = " THEN ", 
	SQL_ELSE = " ELSE ", 
	SQL_CASEEND = " END)",
),


DB_PREFIX = "" => (
	? databaseType (
	"ACCESS" :
		SQL_TABLE_USER = "USER",
		;

	"SQLSERVER" :
		SQL_TABLE_USER = "[USER]",
		;

	"ORACLE" :
		SQL_TABLE_USER = "[USER]",
		;

	"MYSQL" :
		SQL_TABLE_USER = "`USER`",
	),
	;

	SQL_TABLE_USER = (DB_PREFIX "USER"),
),


SQL_UserVisibleClubIs	= (
	" EXISTS (SELECT 1 FROM " SQL_TABLE_USER " usr," DB_PREFIX
	"CLUB_CLUB cc WHERE usr.id='" idUserLogin "' AND cc.idClub=usr.idClub AND cc.idClubRelated="),

